* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/*stick the footer in the very bottom*/
.container {
  position: relative;
  min-height: 100%; }

.content {
  padding-bottom: 100px; }

.site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid black;
  height: 100px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.content__slider {
  float: right;
  min-width: 80%; }

.content-zone {
  float: right;
  width: 80%; }

.content-zone__header {
  text-align: center;
  color: #df1522; }

.content-zone__item {
  padding: 5px;
  margin-top: 25px;
  border-bottom: 2px solid black; }

.left-menu {
  float: left;
  width: 19%;
  min-height: 600px;
  border: 1px solid #000000;
  padding: 5px;
  overflow: auto; }

.content__carousel {
  width: 100%;
  margin-top: 20px; }

.site-footer {
  /* display:table;
   text-align:center;*/
  display: flex; }

.site-footer__mark {
  /*display:table-cell;
  vertical-align:middle;*/
  margin: auto;
  font-size: 20px;
  color: red; }

.main-header {
  margin-top: 20px; }

.main-header__h1 {
  text-align: center;
  color: #aa1111; }

.main-header__nav {
  margin-top: 15px;
  width: 100%;
  min-height: 45px;
  border: 1px inset #990000;
  background-color: #ff8675;
  border-radius: 4px;
  padding: 10px; }

.main-header__logo {
  float: left; }

.main-header__menu {
  float: left; }

.main-header__menu-item {
  display: inline-block;
  margin-left: 10px; }

.main-header__admin, .main-header__language-select, .main-header__search-container {
  float: right;
  margin-left: 10px; }

.main-header__search-container {
  font-size: 15px;
  color: red;
  position: relative; }

.main-header__language-select {
  background-color: #8abeb7;
  list-style-type: none;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  position: relative; }

.main-header__language-select-dropdown {
  position: absolute;
  background-color: #8abeb7;
  min-width: 100px; }

.breadcrumbs {
  width: 100%;
  height: 30px;
  border: 1px solid #000000;
  margin-bottom: 5px;
  padding: 5px; }

.breadcrumb__item--current {
  font-style: italic;
  font-weight: bold;
  margin-left: 7px;
  text-transform: capitalize; }

.breadcrumb__item {
  font-style: italic;
  font-weight: bold;
  margin: 0 7px;
  text-transform: capitalize; }

/*this is technical classes*/
.hidden {
  display: none; }

.clearfix:before, .clearfix:after, .content:before, .content:after {
  content: "";
  display: table; }

.clearfix:after, .content:after {
  clear: both; }

.nested-1 {
  background-color: #89a8ff; }

.nested-2 {
  background-color: #6ccc7a; }

.nested-3 {
  background-color: #ab968c; }

.invisible {
  visibility: hidden; }

.warning {
  color: red; }

@media screen and (max-width: 750px) {
  .main-header__touch-button {
    display: flex; }

  .main-header__logo {
    display: none; }

  .main-header__menu {
    position: absolute;
    left: -1500px;
    min-width: 300px;
    min-height: 200px;
    z-index: 100;
    background-color: #00cc66;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    opacity: 0.9;
    transition: 1.2s ease-out; }

  .main-header__language-select {
    width: 60px; }

  .main-header__menu-item {
    display: block;
    font-size: 20px;
    margin-top: 10px; }

  .main-header__menu-item:first-of-type {
    margin-top: 0; }

  .sort-container {
    margin-left: 10px; }

  .content__slider {
    width: 100%; }

  .main-header__search-result-box {
    left: 0;
    /* width:285px;*/ }

  .main-header__search-field-label {
    display: none; } }

  .categories-block, .lessons-block, .testimonials-block, .subscription_block{
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top:20px;
  }
  .categories-block__item{
      margin-right:10px;
      color: #206f0e;
      border: 1px solid #3c8881;
      padding: 5px;
      border-radius: 5px;
      text-align:center;
  }
  .lessons-block__item{
      width: 110px;
      height: 160px;
      border: 1px solid #c58e8e;
      border-radius: 5px;
      padding: 3px;
      margin-right: 10px;
      text-align: center;
      position: relative;
  }
  .testimonials-block__item{
      background-color: #8abeb7;
      border-radius:5px;
      margin-top:10px;
  }
  .testimonials-block__further{
      background-color: #c58383;
      margin-top: 20px;
      color: #2c50be;
      padding: 5px;
      border-radius: 5px
  }
  .lessons-block__item-icon{
      width:100%;
      position:absolute;
      bottom: 10px;
      left:0;
  }
